#photo{
    width:1200px;
    height: 500px;
    background-color: yellowgreen;
    margin-left: 5%;
}
/* .p1{
    background-image: url("Screenshot 2025-01-06 191819.png");
    background-size: contain;
    transition: 0.5s;
}
.p2{
    background-image: url("Screenshot 2025-01-06 191753.png");
    background-size: cover;
    transition: 0.5s;
}
.p3{
    background-image: url("Screenshot 2025-01-06 191846.png");
    transition: 0.5s;
    background-size: cover;
} */
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.3s 0.3s ;
}
#next{
    position: absolute;
    right: 3%;
    top: 50%;
}
#prev{
    position: absolute;
    left: 3%;
    top: 50%;
}
