*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
head,body{
    width: 100%;
    height: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80px;
    background-color:white;
    font-family: "questrial",sans-serif;
    font-weight: 100;
    align-items: center;
    padding: 0 30px;
}
 nav h5{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 50;
}
nav h5 i{
    font-size: 20px;
}
 nav #link{
    margin-right:20px ;
}
 nav #link a{
    text-decoration: none;
    margin-left: 30px;
    font-size: 20px;
    color: black;
}
 nav #link a:hover{
    border-bottom: 2px solid black;
    transition:0.1s;
}
 nav #link button{
    font-size: 14px;
    background-color: black;
    border-radius: 50px;
    padding: 10px 30px;
    margin-left: 20px;
    color: white;
    border:1px solid black;
}
nav #link button:hover{
    color: black;
    background-color: transparent; 
    transition: 0.3s;
}
#heading{
    width: 100%;
    height:fit-content;
    /* background-color: yellowgreen; */
    font-family: 'questrial',sans-serif;
    margin-top: 200px;
}
#heading h1{
    font-size: 44px;
    font-weight: 100;
    text-align: center;
}
#heading h2{
    font-weight: 100;
    text-align: center;
}
#template{
    display: flex;
    justify-content: space-around;
    height: 400px;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
}
#template #t1{
    height: 350px;
    width: 20%;
    /* background-color: yellow; */
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}
#template #t1 #kind1 h3{
    font-family: 'questrial',sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding-top: 30px;
}
#template #t1 h2{
    font-family: 'questrial',sans-serif;
    font-size: 35px;
    font-weight: 100;
}
#template #t1 h2 sup{
    font-size: 20px;
}
#template #t1 h6{
    font-family: 'questrial',sans-serif;
    font-weight: 100;

}
#template #t1 button{
    background-color:black;
    color: aliceblue;
    padding: 10px 80px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#template #t1 button:hover{
    background-color:rgba(128, 128, 128, 0.645);
    transition: 0.3s;
}
#template #t1 #kind1{
    border-bottom: 1px solid black;
    height: 50%;

}
#template #t1 #kind2 #opt{
    padding-top: 20px;
}
#template #t1 #kind2 #opt p{
    font-family: 'questrial',sans-serif;
    padding-bottom: 14px;
}
#template #t1 .bestKind{
    background-color: #FFF2AF;
    height: 50%;
    /* margin-top: -30px; */
    border-radius: 15px 15px 0 0;
}
 #contact{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height:300px;
    background-color: #FFF2AF;
 }
  #contact #c1{
      height: 100%;
      width: 20%;
      /* background-color: red; */
 }
  #contact #c1 h5{
    margin-top:50px;
    font-family:'questrial',sans-serif;
    font-size: 20px;
    font-weight: 100;
 }
  #contact #c1 button{
      margin-top: 150px;
      background-color: black;
      color: #FFF2AF;
      border: 1px solid black;
      font-size: 15px;
      padding: 20px 65px;
      border-radius: 50px;
      letter-spacing: 1px;
 }
  #contact #c1 button:hover{
    background-color: transparent;
    color: black;
    transition: 0.3s;
 }
  #contact #c2{
    width: 20%;
    height: 100%;
    /* background-color: red; */
    padding-top: 50px;

 }
 #contact #c2 #head{
    margin-bottom: 30px;
 }
 #contact #c2 p{
    margin-bottom: 15px;
    font-size: 15px;
    font-family:'questrial',sans-serif;
 }
 #contact #c3{
    width: 20%;
    height: 100%;
    /* background-color: red; */
    padding-top: 50px;

 }
 #contact #c3 #head{
    margin-bottom: 21px;
 }
 #contact #c3 p{
    margin-bottom: 15px;
    font-size: 15px;
    line-height:27px;
    font-family:'questrial',sans-serif;
 }
 #contact #c3 p i{
    font-size: 20px;
    margin-right: 15px;
 }
 #contact #c4{    
    /* margin-bottom: 15px; */
    font-size: 15px;
    line-height:27px;
    font-family:'questrial',sans-serif;
    width: 20%;
    height: 100%;
    /* background-color: red; */
    padding-top: 50px;
 }
 #contact #c4 p{
    width: 150px;

 }
 #contact #c4 #head{
    margin-bottom: 21px;
 }
 #contact #c4 #foot{
    margin-top: 15px;
 }